
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'VT323', monospace;
    background-color: var(--color2);
    background-image: url('https://cdn.dribbble.com/users/1008875/screenshots/4945459/fortune-teller.png?compress=1&resize=800x600');                     
    background-repeat:no-repeat;
    background-position: center center;
    
}

main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin: 20px;
}

.title {
    font-size: 3em;
    color:#6930c3;
    margin: 20px;
    display:flex;
    font-family: 'Cinzel', serif;
}


.remaining-guesses {
    font-size: 1.5em;
    color:#6930c3;
    padding: 10px;
    margin: 10px;
    background: white;
    border: 1px solid #457b9d;
    border-radius: 20px;
    font-family: 'Cinzel', serif;
    
    
    
}

.barometer {
    font-size: 1.5em;
    color:#457b9d;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid #457b9d;
    border-radius: 20px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    font-family: 'Cinzel', serif;
    
}

input {
    text-align: center;
    border: 1px solid #457b9d;
    font-size: 2em;
    color: #6930c3;
    outline:none;
    font-family: 'Cinzel', serif;
    border-radius: 50px;
    margin-top: 30px;
    width: 200px;
    
}


.submit-button {
    margin-top: 20px;
    border: none;
    background-color: white;
    color: #6930c3;
    outline:none;
    width: 140px;
    padding: 5px;
    border: 1px solid #457b9d;
    font-family: 'Cinzel', serif;
    border-radius: 50px;
    font-size: 1em;
    
}

.play-now {
    border: none;
    background-color: white;
    color: #6930c3;
    outline:none;
    width: 140px;
    padding: 15px;
    border: 1px solid #457b9d;
    font-family: 'Cinzel', serif;
    border-radius: 50px;
    font-size: 1em;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;

}


.reset-button {
    visibility: hidden;
    margin-top: 100px;
    border: none;
    background-color: white;
    color: #6930c3;
    outline:none;
    width: 140px;
    padding: 15px;
    border: 1px solid #457b9d;
    font-family: 'Cinzel', serif;
    border-radius: 50px;
    font-size: 1em;
    text-decoration: none;
    
}

.reset-area{
    margin-top: 100px;
}

button:hover {
    transform: skew(-10deg);
    background-image: url('https://media4.giphy.com/media/xT9IgzvnOyNDYnxeHS/giphy.gif');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
      
 }

.pick {
    font-size: 1em;
    color:#6930c3;
    font-family: 'Orbitron', sans-serif;
   ;
    width:800px;
    text-align: center;
    font-weight: 200;
    padding: 0px;
    line-height: 2em;
    border-radius: 20px;
    
    
 }

 header {
    background: white;
    background-image: url('https://media4.giphy.com/media/xT9IgzvnOyNDYnxeHS/giphy.gif');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 }



  

  
 

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }