
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'VT323', monospace;
    background-color: var(--color2);
    background-image: url('https://cdn.dribbble.com/users/1008875/screenshots/4945459/fortune-teller.png?compress=1&resize=800x600');                     
    background-repeat:no-repeat;
    background-position:center center;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    display:flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.title {
    font-size: 3em;
    color:#6930c3;
    padding: 20px;
    margin: 20px;
    display:flex;
    justify-content: flex-start;
}


.remaining-guesses {
    font-size: 1.5em;
    color:#6930c3;
    padding: 10px;
    margin: 10px;
    background: white;
    border: 1px solid #6930c3;
    border-radius: 20px;
    
}

.barometer {
    font-size: 1.5em;
    color:#6930c3;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid #6930c3;
    border-radius: 20px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
}

input {
    text-align: center;
    border: 1px solid #457b9d;
    font-size: 2em;
    color: #6930c3;
    outline:none;
    font-family: 'VT323', monospace;
    border-radius: 50px;
    margin-top: 30px;
    width: 200px;
}


.submit-button {
    margin-top: 20px;
    border: none;
    background-color: white;
    color: #6930c3;
    outline:none;
    width: 140px;
    padding: 5px;
    border: 1px solid #6930c3;
    font-family: 'VT323', monospace;
    border-radius: 50px;
    font-size: 1em;
}

.reset-button {
    visibility: hidden;
    margin-top: 40px;
    border: none;
    background-color: white;
    color: #6930c3;
    outline:none;
    width: 140px;
    padding: 5px;
    border: 1px solid #6930c3;
    font-family: 'VT323', monospace;
    border-radius: 50px;
    font-size: 1em;
    text-decoration: none;
}


button:hover {
    transform: skew(-10deg);
      
 }



  

  
 

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }